mode server
client-config-dir /etc/openvpn/server/{{ openvpn_name}}/ccd
ca /etc/openvpn/server/{{ openvpn_name }}/easy-rsa/pki/ca.crt
cert /etc/openvpn/server/{{ openvpn_name}}/easy-rsa/pki/issued/{{ openvpn_hostname }}.crt
key /etc/openvpn/server/{{ openvpn_name}}/easy-rsa/pki/private/{{ openvpn_hostname }}.key
dh /etc/openvpn/server/{{ openvpn_name}}/easy-rsa/pki/dh.pem
crl-verify /etc/openvpn/server/{{ openvpn_name}}/easy-rsa/pki/crl.pem
proto tcp-server
port {{ openvpn_port }}
tls-server
group nogroup
user nobody
log-append /var/log/openvpn-server-{{ openvpn_name}}.log
status-version 2
status /var/log/openvpn/server-{{ openvpn_name}}-status.log
dev tun
server {{ openvpn_subnet }} {{ openvpn_netmask }}
topology subnet
cipher AES-256-CBC
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-128-CBC-SHA256
persist-key
persist-tun
reneg-sec 0

{% if openvpn_authenticator == true %}
plugin /usr/lib/x86_64-linux-gnu/openvpn/plugins/openvpn-plugin-auth-pam.so "openvpn"
{% endif %}

push "dhcp-option DNS {{ openvpn_internal_dns_address }}"
;push "redirect-gateway def1 bypass-dhcp"

client-to-client
keepalive 10 120
verb 3
mute 20
